/*
    COMP 333: Software Engineering
    Judeley Jean-Charles (jjeancharles@wesleyan.edu)
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.navbar {
    width: 100% ;
    display: flex ;
    align-items: center ;
    background-color: crimson;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

nav ul li a:hover {
    color: violet;
}

button{
    transition: all 0.25s;
    background-color: violet;
    font-style: normal ;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.05rem;
    color:white ;
    border-radius: 4px;
    border: 1px solid transparent ;
    text-transform: uppercase;
    display: inline-block ;
    text-align: center ;
    line-height: 0.9;
    cursor: pointer;
    padding: 12px 10px;
}

button:hover {
    color:tomato
}